

.footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:aquamarine;
   color:black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: aquamarine;

}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    

}
.nav-links li a{
    color: red;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links li{
    list-style: none;
    }
  
  li a:hover {
    background-color:lightgreen;
  }
  .video{
    width: 100%;
    height: auto;
    margin: 50px 50px;
  }
  h1{
      margin-left: 35%;
      margin-top:-2px;
  }
  body{
      background-image: url(apple.jpg);
  }
  
    

